body {
	margin: 0;
	background: linear-gradient(to bottom right, #f9feff 50%, #b9d1ea) no-repeat fixed;
}

* {
	user-select: none;
	font-family: "Segoe UI", sans-serif;
	font-size: 12px;
}

h1 {
	margin-top: 0;
	font-size: 16px;
	font-weight: 400;
	color: #003399;
}

a {
	color: #0066cc;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	color: #ee0000;
}

button:not([data-fakebutton]) {
	outline: none;
	border: solid thin #707070;
	border-radius: 4px;
	min-width: 60px;
	padding: 2px 12px;
	box-shadow: inset 0px 0px 0px 1px var(--aero-white);
	background: linear-gradient(
		180deg,
		rgba(242, 242, 242, 1) 0%,
		rgba(235, 235, 235, 1) 40%,
		rgba(221, 221, 221, 1) 40%,
		rgba(207, 207, 207, 1) 100%
	);
	position: relative;
	z-index: 1;
	transition: opacity 0.35s linear;
}

button:not(:disabled):not([data-fakebutton]):hover {
	border: solid thin #3c7fb1;
}

button:not([data-fakebutton])::before {
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(
		180deg,
		rgba(234, 246, 253, 1) 0%,
		rgba(217, 240, 252, 1) 40%,
		rgba(190, 230, 253, 1) 40%,
		rgba(167, 217, 245, 1) 100%
	);
	z-index: -1;
	transition: opacity 0.35s linear;
	opacity: 0;
	border-radius: 3px;
}
button:not([data-fakebutton]):not(:disabled):hover::before {
	opacity: 1;
}

button:not([data-fakebutton])::after {
	box-shadow: inset 0px 0px 0px 1px #95ade474;
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(
		180deg,
		rgba(229, 244, 252, 1) 0%,
		rgba(196, 229, 246, 1) 40%,
		rgba(152, 209, 239, 1) 40%,
		rgba(104, 179, 219, 1) 100%
	);
	z-index: -1;
	transition: opacity 0.1s linear;
	opacity: 0;
	border-radius: 3px;
}

button:not([data-fakebutton]):not(:disabled):active::after {
	opacity: 1;
}

button:not([data-fakebutton]):disabled {
	opacity: 0.8;
	color: #444;
	border: solid thin #999;
	background: linear-gradient(
		180deg,
		rgba(242, 242, 242, 1) 0%,
		rgba(235, 235, 235, 1) 40%,
		rgb(231, 231, 231) 40%,
		rgba(207, 220, 220, 1) 100%
	);
}

p {
	text-shadow: 0px 0px 0.5px #0000004f;
}
